<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mission.missionservice.mapper.TransactionMapper">

    <select id="findByAccountId" resultType="com.mission.missionservice.entity.Transaction">
        SELECT
            t.transaction_id AS transactionId,
            i.ticker          AS ticker,
            t.txn_type        AS txnType,
            t.quantity        AS quantity,
            t.price           AS price,
            t.txn_date        AS txnDate
        FROM transactions t
        JOIN instruments i ON t.instrument_id = i.instrument_id
        WHERE t.account_id = #{accountId}
        ORDER BY t.txn_date
    </select>

</mapper>
